body{
    background-image: url(../img/bgi_orar.jpeg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}

#header-main{
    text-align: center;
}

#header-main h1{
    color: antiquewhite;
    font-size: 30px;
}

#header-main img{
    height: 100px;
    margin-top: 20px;
}

main{
    max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
    display: grid;
	grid-template-columns:  2fr 3fr;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

.left h2{
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: black;
    background-color: whitesmoke;
    width: 380px;
    box-shadow: 0 0 20px whitesmoke;
    margin-bottom: 5px;
    align-items: center;
}

.tip{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    justify-items: center;
    column-gap: 20px;
}

.tip h3{
    background-color: rgba(116, 180, 138, 0.815);
    padding: 10px 0;
    width: 100px;
    text-align: center;
    border-radius: 5px;
}

.tip h3:hover{
    background-color: whitesmoke;
}

#active{
    background-color: whitesmoke;
}

#search{
    
}